if SHIELD_BROWN_OVER_LEFT

config ZMK_KEYBOARD_NAME
    default "Brown Over Heart"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BROWN_OVER_LEFT || SHIELD_BROWN_OVER_RIGHT

config ZMK_SPLIT
    default y

endif
